<div
    class="photos mx-5"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScrollDown()"
>
    <div
        class="row"
    >
        <div
            class="col-lg-4 col-md-6 mb-5"
            *ngFor="let photo of photos"
        >
            <div class="activity-card-content">
                <div class="activity-card-attribution">
                    <a href="/photos/alentours_ailleurs/ " class="avatar person no-refresh tiny">
                    </a>
                    <div class="attribution-content with-pro-badge">
                        <div class="display-name">
                            <a class="username" href="/photos/alentours_ailleurs/ ">
                                paul siemen
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <img
                *ngIf="photo.mediumSize?.source; else loader"
                [src]="photo.mediumSize?.source"
                style="width: 100%;"
                [alt]="photo.title"
            />
            <div class="activity-card-title">
                <p>
                    <b>{{photo.title}}</b>
                </p>
            </div>
        </div>
        <div
            *ngIf="isLoading"
            class="col-lg-4 col-md-6 mb-5">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </div>

</div>

<ng-template #loader>
    <p-progressSpinner></p-progressSpinner>
</ng-template>
