<div class="ui-widget-header p-2">
    <form name="searchForm" class="form-inline">
        <i class="fa fa-search" *ngIf="!userListMode"></i>
        <div class="input-group px-2">
            <ng-container *ngIf="!userListMode">
                <input
                    type="text"
                    name="currentSearch"
                    placeholder="Search..."
                    [(ngModel)]="text"
                    (ngModelChange)="onTextChange()"
                />
                <button
                    type="button"
                    class="input-group-addon btn btn-danger"
                    *ngIf="text"
                    (click)="text = ''; onTextChange()"
                >
                    <span class="fa fa-trash-o"></span>
                </button>
                <span *ngIf="!text" class="badge badge-danger">
                    Enter some text.
                </span>
            </ng-container>
            <button
                type="button"
                ngbTooltip="Check listed photo below on the map"
                class="input-group-addon btn btn-info ml-1"
                (click)="onClickMapOfPhotos()"
            >
                <span class="fa fa-map"></span>
                <span>Map of photos</span>
            </button>
        </div>
    </form>
</div>
<div
    class="photos mx-5"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="50"
    [infiniteScrollDisabled]="totalPage === pageNumber"
    (scrolled)="onScrollDown()"
>
    <div
        class="row"
    >
        <div
            class="col-lg-4 col-md-6 mb-5"
            *ngFor="let photo of photos"
        >
            <div class="text-center" *ngIf="!userListMode">
                <a class="w-100 badge badge-info"
                    ngbTooltip="Open profile {{photo.person?.username?._content}}"
                    [routerLink]="['./photos', photo.owner]"
                >
                    {{photo.person?.username?._content}}
                </a>
            </div>

            <a (click)="onClickViewDetail(photo)">
                <img
                    *ngIf="photo.mediumSize?.source; else loader"
                    [src]="photo.mediumSize?.source"
                    style="width: 100%;"
                    [alt]="photo.title"
                />
            </a>
            <div class="text-center">
                <a (click)="onClickViewDetail(photo)"
                    ngbTooltip="Open {{photo.title}}"
                >
                    <b>{{photo.title}}</b>
                </a>
            </div>
        </div>
        <div
            *ngIf="isLoading"
            class="col-lg-4 col-md-6 mb-5">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </div>
</div>

<ng-template #loader>
    <p-progressSpinner></p-progressSpinner>
</ng-template>
