<div
    class="photos mx-5"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="50"
    [infiniteScrollDisabled]="totalPage === pageNumber"
    (scrolled)="onScrollDown()"
>
    <div
        class="row"
    >
        <div
            class="col-lg-4 col-md-6 mb-5"
            *ngFor="let photo of photos"
        >
            <div
                class="activity-card-content"
                *ngIf="!userListMode"
            >
                <div class="activity-card-attribution">
                    <div class="attribution-content with-pro-badge">
                        <div class="display-name">
                            <a class="username"
                                [routerLink]="['./photos', photo.owner]"
                            >
                                {{photo.person?.username?._content}}
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <a (click)="onClickViewDetail(photo)">
                <img
                    *ngIf="photo.mediumSize?.source; else loader"
                    [src]="photo.mediumSize?.source"
                    style="width: 100%;"
                    [alt]="photo.title"
                />
            </a>
            <div class="activity-card-title">
                <p>
                    <b>{{photo.title}}</b>
                </p>
            </div>
        </div>
        <div
            *ngIf="isLoading"
            class="col-lg-4 col-md-6 mb-5">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </div>

</div>

<ng-template #loader>
    <p-progressSpinner></p-progressSpinner>
</ng-template>
